/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,1.0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: lightgrey;
    background-attachment: fixed;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

/* Portrait layout (default) */
.app {
    /*background:url(../img/logo.png) no-repeat center top;*/ /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    height:100%;                   /* text area height */
    width:100%;                   /* text area width */
    text-align:center;
}

 /*Landscape layout (with min-width)*/ 
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;   padding-top + padding-bottom + text area = image height 
        margin:-90px 0px 0px -198px;   offset vertical: half of image height 
                                       offset horizontal: half of image width and text area width 
    }
}*/

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/*Developer Defined Classes*/

.header {
    width: 100%;
    height: 60px;
    background-color: #510B5D;
    position: fixed;
    top: 0;
    z-index: 4;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: #510B5D;
    position: fixed;
    bottom: 0;
    z-index: 4;
}

.content {
    margin-top:20%;
    margin-bottom:20%;
}

.logo_div {
    height: 100%;
    width: 20%;
    float: right;
}

.search_div {
    height: 100%;
    width: 80%;
    float: left;
}

.search {
    width: 80%;
    float: left;
    padding: 6px;
    border: none;
    margin-top: 15px;
    margin-left: 16px;
    font-size: 17px;
    border-radius: 25px;
}

.header_logo {
    height: 90%;
    margin-right: 10%;
    margin-top: 5px;
}

.footer_icon_div {
    float: left;
    width: 33.33%;
}

.footer_icon {
    height: 50px;
    padding: 7px;
    fill: white;
}

.content_card {
    width: 90%;
    height: 200px;
    background: #E4E4E4;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 7px 7px 5px #888888;
}

.welcome_card {
    position: relative;
    width: 90%;
    height: 100px;
    background: linear-gradient(to bottom right, #92FFFB, #FFE892 );
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 7px 7px 5px #888888;
    z-index:2;
}

.welcome_text_div {
    /*position: absolute;*/
    bottom: 20%;
    left: 30%;
    color: #337E73;
    padding-top:  20px;
}

#welcome_text{
    font-size: 5vw;
    margin-bottom: 0;
}

#time_of_day {
    font-size: 5vw;
    margin-bottom: 0;
}

.content_button {
    width: 90%;
    height: 60px;
    margin-top: 10px;
    background: linear-gradient(to bottom right, #FFE892, #D0B554 );
    border: none;
    font-size: 20px;
    box-shadow: 7px 7px 5px #888888;
}

.footer_icon_button {
    background-color: #510B5D;
    border: none;
    width: 100%;
}

    .footer_icon_button:active {
        background-color: #301235;
        border: none;
        width: 100%;
    }

.floating_action_button {
    position: fixed;
    bottom: 70px;
    right: 15px;
}

/*discover content card interior*/

.content_name_photo {
    width: 100%;
    height: 85%;
    position: relative;
}

.content_photo_div {
    width: 100%;
    height: 100%;
}

.content_photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.content_name_div {
    font-family: 'Raleway', sans-serif;
    margin: 5px;
    border-radius: 20px;
    background-color: #FFF;
    opacity: 0.8;
    color: #000;
    display: inline-block;
    font-size: 1.7em;
    position: absolute;
    z-index: 3;
}

.content_name {
    margin: 5px;
    opacity: 1;
}

.content_tag_div {
    margin: 5px;
    border-radius: 10px;
    background-color: #D05754;
    color: #FFF;
    display: inline-block;
    width: 100%;
}

.content_tag_text {
    font-family: 'Dosis', sans-serif;
    margin: 2px;
    /*padding-left: 20px;
    padding-right: 20px;*/
    font-size: 1.1em;
}


