/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,1.0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

    *:focus {
        outline: none;
    }

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: lightgrey;
    background-attachment: fixed;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

/* Portrait layout (default) */
.app {
    /*background:url(../img/logo.png) no-repeat center top;*/ /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    height:100%;                   /* text area height */
    width:100%;                   /* text area width */
    text-align:center;
}

 /*Landscape layout (with min-width)*/
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;   padding-top + padding-bottom + text area = image height
        margin:-90px 0px 0px -198px;   offset vertical: half of image height
                                       offset horizontal: half of image width and text area width
    }
}*/

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/*Developer Defined Classes*/

/* Discover Page */

/* Header Bar */

.header {
    width: 100%;
    height: 9vh;
    background: linear-gradient(to top, transparent, #510B5D, #510B5D, #510B5D, #510B5D, #510B5D, #510B5D, #510B5D);
    position: fixed;
    top: 0;
    z-index: 4;
}

/* Search Bar */

.search_div {
    height: 100%;
    width: 80%;
    float: left;
}

.search {
    width: 80%;
    float: left;
    padding: 1.5vh;
    border: none;
    margin-top: 1vh;
    margin-left: 4vw;
    font-size: 2vh;
    border-radius: 10px 1px;
}

/* Hapcat Logo */

.logo_div {
    height: 100%;
    width: 20%;
    float: right;
}

.header_logo {
    height: 80%;
    margin-right: 5vw;
    margin-top: .5vh;
}

/* Content Region */

.content {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

/* Content Card */

.content_card {
    width: 95%;
    height: 24vh;
    background: #E4E4E4;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 7px 7px 5px #888888;
}

/* Content Card Interior */

.content_photo_div {
    width: 100%;
    height: 100%;
}

.content_name_photo {
    width: 100%;
    height: 85%;
    position: relative;
}

.content_photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.content_name_div {
    font-family: 'Raleway', sans-serif;
    margin: 1vw;
    border-radius: 10vw;
    background-color: #FFF;
    opacity: 0.9;
    color: #000;
    display: inline-block;
    position: absolute;
    z-index: 3;
    border-radius: 15px 1px;
}

.content_name {
    padding-left: 4vw;
    padding-right: 4vw;
    margin-bottom: 0;
    text-align: left;
    opacity: 1;
    font-size: 3vh;
}

.content_datetime {
    margin-bottom: 0;
    margin-right: 4vw;
    margin-left: 4vw;
    text-align: left;
}

.content_distance_div {
    font-family: 'Raleway', sans-serif;
    margin: 5px;
    border-radius: 1px 15px;
    background-color: #FFF;
    opacity: 0.9;
    color: #000;
    display: inline-block;
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
}

.content_distance {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.3em;
    margin: 5px;
}

/* Content Card Tags */

.content_tag_column_div {
    padding: 0;
}

.content_tag_div {
    margin: .2vh;
    border-radius: 10px 1px;
    background-color: #D05754;
    color: #FFF;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    width: 100%;
}

.content_tag_text {
    font-family: 'Dosis', sans-serif;
    margin: .1vh;
    font-size: 2vh;
}

/* Welcome Card */

.welcome_card {
    position: relative;
    width: 95%;
    height: 15vh;
    background: linear-gradient(to bottom right, #92FFFB, #FFE892 );
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 7px 7px 5px #888888;
    z-index: 2;
}

.welcome_text_div {
    bottom: 5vh;
    left: 30vw;
    color: #337E73;
    padding-top: 3vh;
}

#time_of_day {
    font-size: 4vh;
    margin-bottom: 0;
}

#welcome_text {
    font-size: 3vh;
    margin-bottom: 0;
}

/* Add Content Button */

.content_button {
    font-family: 'Raleway', sans-serif;
    width: 90%;
    height: 10vh;
    margin-top: 10px;
    background: linear-gradient(to bottom right, #FFE892, #D0B554, #CB9F00 );
    border: none;
    font-size: 5vw;
    color: #FFF;
    box-shadow: 7px 7px 5px #888888;
}

/* Add Event Button */

.floating_action_button {
    position: fixed;
    bottom: 8vh;
    right: 2vw;
    z-index: 4;
}

.event_add_button {
    width: 10vh;
}

/* Footer Bar */

.footer {
    width: 100%;
    height: 8vh;
    background: linear-gradient(to bottom, transparent, #510B5D, #510B5D, #510B5D, #510B5D, #510B5D, #510B5D, #510B5D);
    position: fixed;
    bottom: 0;
    z-index: 4;
}

/* Footer Buttons */

.footer_icon {
    height: 8vh;
    padding: 1vh;
    fill: white;
}

.footer_icon_div {
    background-color: transparent;
    border: none;
    width: 100%;
}

.footer_icon_div.footer_icon:active {
    background-color: transparent;
    border: none;
    width: 100%;
}


/*These next classes are for positioning the names alternating on different sides of the card to break up monotony. Cant decide how I feel about it*/

/*.content_name_div_left {
    font-family: 'Raleway', sans-serif;
    margin: 5px;
    border-radius: 20px;
    background-color: #FFF;
    opacity: 0.8;
    color: #000;
    display: inline-block;
    font-size: 1.7em;
    position: absolute;
    z-index: 3;
}

.content_name_div_right {
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    background-color: #FFF;
    opacity: 0.8;
    color: #000;
    display: inline-block;
    font-size: 1.7em;
    position: absolute;
    z-index: 3;
    right: 5px;
    top: 5px;
}*/

.content_name {
    padding-left: 4vw;
    padding-right: 4vw;
    margin-bottom: 0;
    text-align: left;
    opacity: 1;
    font-size: 2.5vh;
}

.content_datetime {
    margin-bottom: 0;
    margin-right: 4vw;
    margin-left: 4vw;
    text-align: left;
}

.content_distance_div {
    font-family: 'Raleway', sans-serif;
    margin: 5px;
    border-radius: 1px 15px;
    background-color: #FFF;
    opacity: 0.9;
    color: #000;
    display: inline-block;
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
}

.content_distance {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.3em;
    margin: 5px;
}



/*Modal Classes*/

.modal {
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal_content {
    z-index: 8;
    position: relative;
    margin: 10vh auto;
    background: linear-gradient(to bottom right, #92FFFB, #FFE892);
    width: 95%;
    height: 80%;
    border-radius: 25px;
    display: flex;
    flex-flow: column;
    /*overflow-y: scroll;*/
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow-x: hidden;
}

.container {
    flex: 0 1 auto;
}

/* Add Animation */
@keyframes animatetop {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* Modal Interior */

.modal_photo_div {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.modal_photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    border-radius: 25px;
}

.modal_name_photo {
    width: 100%;
    flex: 0 1 50%;
    position: relative;
    box-shadow: 7px 7px 5px #888888;
    border-radius: 25px;
}

/* Modal Name */

.modal_name_div {
    font-family: 'Raleway', sans-serif;
    width: 70%;
    float: left;
    margin: 5px;
    border-radius: 20px;
    background-color: #FFF;
    opacity: 0.9;
    color: #000;
    display: inline-block;
    position: absolute;
    z-index: 3;
    border-radius: 25px 1px;
}

.modal_name {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 3vw;
    margin-bottom: 0;
    text-align: left;
    opacity: 1;
    font-size: 4vw;
}

.modal_paragraph {
    margin-bottom: 0;
    margin-right: 8px;
    margin-left: 1vw;
    text-align: left;
    font-size: 2.5vw;
}

/* Modal Weather */

.modal_weather_div {
    font-family: 'Raleway', sans-serif;
    margin: 5px;
    background-color: #FFF;
    opacity: 0.9;
    color: #000;
    display: inline-block;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    border-radius: 1px 25px;
}

.modal_h3 {
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
    margin-right: 8px;
    margin-left: 3vw;
    text-align: left;
    margin-top: .3vw;
    font-size: 5vw;
}

/* Modal Distance */

.modal_distance_div {
    font-family: 'Raleway', sans-serif;
    margin: 5px;
    background-color: #FFF;
    opacity: 0.9;
    color: #000;
    display: inline-block;
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
    border-radius: 25px 1px;
}

.modal_distance {
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    font-size: 3vw;
}

/* Modal Tags */

.modal_tag_column_div {
    padding: 0;
}

.modal_tag_area {
    margin: 10vw;
    box-shadow: 7px 7px 5px #888888;
}

.modal_tag_div {
    margin: 2vw auto;
    border-radius: 15px 1px;
    background-color: #D05754;
    color: #FFF;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    width: 90%;
    box-shadow: 7px 7px 5px #888888;
}

.modal_tag_text {
    font-family: 'Dosis', sans-serif;
    margin: 2px;
    font-size: 3vw;
}


/* Modal Details */

.modal_about {
    width: 94%;
    margin: 1vh auto 0 auto;
    background-color: rgba(0,0,0,0.2);
    display: inline-block;
    padding: 0 1vw 0 1vw;
    box-shadow: 7px 7px 5px #888888;
    border-radius: 15px 1px;
    color: #FFF;
    overflow-y: scroll;
    flex: 1 1 auto;
    font-size: 4vw;
}

/* Modal Description */

.modal_description {
    width: 94%;
    margin: 4vw auto;
    background-color: rgba(0,0,0,0.2);
    display: inline-block;
    padding: 0 1vw 0 1vw;
    box-shadow: 7px 7px 5px #888888;
    border-radius: 15px 1px;
    color: #FFF;
    overflow-y: scroll;
    flex: 1 1 auto;
    font-size: 3vw;
}

.lato.modal_paragraph {
    margin-bottom: 0;
    margin-right: 8px;
    margin-left: 1vw;
    text-align: left;
    font-size: 3vw;
}

/*Fonts*/

.syncopate {
    font-family: 'Syncopate', sans-serif;
}

.dosis {
    font-family: 'Dosis', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.textinput_div {
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    background-color: #FFF;
    opacity: 0.9;
    color: #000;
    width: 100%;
    margin-bottom:3vw;
}

textarea:focus, input:focus {
    outline: none;
}

.textinput_hint {
    opacity: 1.0;
    font-size: 1em;
    margin-bottom: 0;
    padding-left: 20px;
    text-align:left;
}

.textinput {
    opacity: 1.0;
    font-size: 1.5em;
    outline: none;
    outline-style: none;
    margin-left: 20px;
    border: none;
    border-color: transparent;
    width: 175px;
}


.login_div {
    width: 70%;
    border-radius: 5px;
    padding: 10px;
    height: 50px;

    margin-right:auto;
    margin-top: -25px;
    margin-left: auto;
    top: 50%;

}

.forgotpass {

    padding: 15px;
}
